{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="text-center">
          <a class="small" href="{% url 'leads:lead_list' %}">Get back to leads</a>
        </div>
    <!-- Main Content Here -->
         <form method="POST">
            <div class="form-group">
               {% csrf_token %}
               {{ form|crispy}}
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
         </form>
        
        
    </div>
    <!-- /.container-fluid -->
{% endblock content %}
